{% extends "::layout.html.twig" %}
{% block body %}
    <div class="full_w">
        <div class="h_title"></div>
        <div class="entry">
            <div class="sep"></div>
        </div>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr style="height:  80px">
                    <td><a href="">المنخرطون</a></td>
                </tr>
                <tr style="height:  80px">
                    <td><a href="">اعضاء المكتب المسير</a></td>
                </tr> <tr style="height:  80px">
                    <td><a href="">الزوار</a></td>
                </tr>
            </tbody>
        </table>
        <div class="entry">
            <div class="navigation">
            </div>
            <div class="sep"></div>		
        </div>
    </div>
{% endblock %}