<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl" dir="rtl">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Paweł 'kilab' Balicki - kilab.pl" />
<title>SimpleAdmin</title>
<link rel="stylesheet" type="text/css" href="css/login.css" media="screen" />
</head>
<body>
<div class="wrap">
	<div id="content">
		<div id="main">
			<div class="full_w">
				<form action="" method="post">
					<label for="login">اسم المُستخدم:</label>
					<input id="login" name="login" class="text" />
					<label for="pass">كلمة المرور:</label>
					<input id="pass" name="pass" type="password" class="text" />
					<label for="login">اسم المُستخدم:</label>
					<input id="login" name="email" class="text" />
					<div class="sep"></div>
					<button type="submit" class="ok">دخول</button> <a class="button" href="">نسيت كلمة المرور؟</a>
				</form>
			</div>
			<div class="footer">&raquo; <a href="">http://yourpage.com</a> | Admin Panel</div>
		</div>
	</div>
</div>

</body>
</html>
